body {
	background-color: #eee;
}

#logo {
	height: 75px;
	margin-top: 1%;
}

footer {
	padding: 1%;
}

a.tag-link {
	text-decoration: none;
}

a.logo-link {
	text-decoration: none;
	color: #444;
}

a.article-tag {
	text-decoration: none;
	color: #fff;
}

.img-article {
	min-height: 300px;
	max-width: 300px;
}
